# Development profile

spring:
  application:
    name: emotion-tracker-api
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true

springdoc:
  override-with-generic-response: false

---
# Production profile

spring:
  config:
    activate:
      on-profile: production
  jpa:
    show-sql: false